---
layout: page
title: CyBERG Corp. Plc.
permalink: /
---

<section id="slider">
  <div class="container ">
    <div class="col-sm-12 col-md-12">
      <div class="col-md-8 col-sm-12">
        <div class="block">
          <div>
            <h2 class="animated fadeInUp">
              {% t sections.intro.title %}
            </h2>

            <p class="animated fadeInUp">
              {% t sections.intro.content %}

            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <img
          class="cyberg-3fa-mockup animated fadeInUp"
          src="{{ site.baseurl }}/img/cyberg/mockup_iphonex.png"
        />
      </div>
    </div>
  </div>
</section>

{% include post-intro-at-position.html position=10 mediaPosition='left' %}
{% include post-intro-at-position.html position=20 mediaPosition='right' %}
{% include post-intro-at-position.html position=30 mediaPosition='left' %}



<section id="service">
  <div class="container">
    <div class="row">
      {% for news in site.categories['highlighted'] %}
        {% include news-highlight.html news=news %}
      {% endfor %}
     
    </div>
  </div>
</section>


<section id="downloads">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-sm-12">
        <div class="block cyberg-ceo-img">
          <img src="img/cyberg/cy_dl_info_615x392.png" alt="Img" />
        </div>
      </div>

      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>{% t sections.download.title %}</h2>

            <p>
              {% for post in site.posts %}
                {% for doc in post.docs %}
                  {% include post-download-line.html post=post doc=doc %}
                {% endfor %}
              {% endfor %}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% include post-intro-at-position.html position=40 mediaPosition='right' %}
{% include post-intro-at-position.html position=50 mediaPosition='right' %}



<section id="call-to-action">
  <div class="container">
    <div class="cyberg-articles-container">

      {% for article in site.data.external-articles %}
        <div class="col-sm-6 col-md-2">
          <div class="cyberg-articles" >
            <img class="cyberg-articles-img" src="/assets/img/{{ article.img }}" alt="{{ article.source }}"></i>
            <p class="cyberg-articles-lang"><i class="fa fa-flag"></i> {{ article.lang }}
            </p>
            <a href="{{ article.link }}" aria-label="{{ article.title }}">{% t sections.articles.reading  %} <i class="fa fa-arrow-right"></i></a>
          </div>
        </div>
      {% endfor %}
    
    </div>
  </div>
  <div class="cyberg-awards">
    <div class="cyberg-mastercard col-sm-12 col-md-12" >
      {% t sections.awards.mastercard %}
    </div> 
    <div class="col-sm-12 col-md-12">
      {% t sections.awards.dreamjob %}
    </div>    
  </div>
</section>
