---
layout: page
title: CyBERG Corp. Plc.
permalink: /
---

<section id="slider">
  <div class="container ">
    <div class="col-sm-12 col-md-12">
      <div class="col-md-8 col-sm-12">
        <div class="block">
          <div>
            <h2 class="animated fadeInUp">
              {% t sections.intro.title %}
            </h2>

            <p class="animated fadeInUp">
              {% t sections.intro.content %}

            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <img
          class="cyberg-3fa-mockup animated fadeInUp"
          src="{{ site.baseurl }}/img/cyberg/mockup_iphonex.png"
        />
      </div>
    </div>
  </div>
</section>

{% include post-intro-at-position.html position=10 mediaPosition='left' %}
{% include post-intro-at-position.html position=20 mediaPosition='right' %}
{% include post-intro-at-position.html position=30 mediaPosition='left' %}



<section id="service">
  <div class="container">
    <div class="row">
      {% for news in site.categories['highlighted'] %}
        {% include news-highlight.html news=news %}
      {% endfor %}
     
    </div>
  </div>
</section>


<section id="downloads">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-sm-12">
        <div class="block cyberg-ceo-img">
          <img src="img/cyberg/cy_dl_info_615x392.png" alt="Img" />
        </div>
      </div>

      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>{% t sections.download.title %}</h2>

            <p>
              {% for post in site.posts %}
                {% for doc in post.docs %}
                  {% include post-download-line.html post=post doc=doc %}
                {% endfor %}
              {% endfor %}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% include post-intro-at-position.html position=40 mediaPosition='right' %}
{% include post-intro-at-position.html position=50 mediaPosition='right' %}



<section id="call-to-action">

  <div class="container">

    <div class="cyberg-articles-container">

      <div class="col-sm-6 col-md-2 col-md-offset-1">
        <div class="cyberg-articles" >
          <img class="cyberg-articles-img"   src="img/cyberg/cy_empre_500x300.png"></i>
          <p class="cyberg-articles-lang"><i class="fa fa-flag"></i> español
          </p>
          <a href="https://www.emprendedores.es/franquicias/a27581135/kajahu-receta-exitosa-fusionar-comida-y-sobre-todo-tecnologia/">Reading <i class="fa fa-arrow-right"></i></a>
        </div>
      </div>

      <div class="col-sm-6 col-md-2">
        <div class="cyberg-articles" >
          <img class="cyberg-articles-img"  src="img/cyberg/cy_budapest_journal_500x300.png"></i>
          <p class="cyberg-articles-lang"> <i class="fa fa-flag"></i> english
          </p>
          <a href="https://bbj.hu/budapest/kajahu-is-food-together-_142659">Reading <i class="fa fa-arrow-right"></i></a>

        </div>
      </div>

      <div class="col-sm-6 col-md-2">
        <div class="cyberg-articles" >
          <img class="cyberg-articles-img"  src="img/cyberg/cy_bvz_500x300.png"></i>
          <p class="cyberg-articles-lang"><i class="fa fa-flag"></i> deutsch</p>
          <a href="https://www.bvz.at/neusiedl/neueroeffnung-restaurant-kajahu-im-fashion-outlet-parndorf-parndorf-gastronomie-neueroeffnung-fashion-outlet-parndorf-kajahu-137596025">Reading <i class="fa fa-arrow-right"></i></a>       
        </div>
       </div>

      <div class="col-sm-6 col-md-2">
        <div class="cyberg-articles">
          <img class="cyberg-articles-img"  src="img/cyberg/cy_forbes_500x300.png"></i>
          <p class="cyberg-articles-lang"><i class="fa fa-flag"></i> magyar</p>
          <a href="https://forbes.hu/uzlet/mostantol-barki-beszallhat-a-tozsden-a-magyar-cegbe-ami-high-tech-gyorsettermekkel-szorna-tele-a-vilagot-kajahu-tozsde-2019/">Reading <i class="fa fa-arrow-right"></i></a>
        </div>

      </div>

      <div class="col-sm-6 col-md-2">
        <div class="cyberg-articles" >
          <img class="cyberg-articles-img" src="img/cyberg/cy_napi_500x300.png"></i>
          <p class="cyberg-articles-lang"><i class="fa fa-flag"></i> magyar</p>
          <a href="https://www.napi.hu/magyar_gazdasag/megerkezett-a-kajahu-a-tozsdere.676504.html">Reading <i class="fa fa-arrow-right"></i></a>
        </div>

      </div>

  </div>
  </div>
  <div class="cyberg-awards">
    <div class="cyberg-mastercard col-sm-12 col-md-12" >
      ✪ MASTERCARD – Retailer of the Year 2017
    </div> 
    <div class="col-sm-12 col-md-12">
      ✪ DreamJob Award 2017, 2018
    </div>    
  </div>
</section>
