<div class="col-sm-12 col-md-4">
    <div class="service-item">
        {% include media-block.html youtubeId=include.news.youtubeId img=include.news.img %}
        <h2>{{ include.news.title }}</h2>
        <span>{{include.news.date}}</span>
        <p>
            {{ include.news.content | markdownify }}
        </p>
        {% if include.news.link %}
            <a href="{{ include.news.link.url }}">{{ include.news.link.label }}
                <i class="fa fa-arrow-right"></i>
            </a>
        {% elsif include.news.doc %}
            <a href="{{ include.news.doc.file }}">{{ include.news.doc.label }}
                <i class="fa fa-arrow-right"></i>
            </a>
        {% endif %}
    </div>
</div>