<!-- Could be used like this, for generated even-odd mediaPosition
  % assign evenOdd = forloop.index | modulo: 2 %
  % include post-intro.html post=post mediaPosition=evenOdd %
-->


<section id="company">
    <!-- TODO: use a more generic class instead of this ID -->
    <div class="container">
        <div class="row">
            <!-- MEDIA ON THE LEFT -->
            {% if include.mediaPosition == 0 or include.mediaPosition == 'left' %}
                <div class="col-md-5 col-sm-12">
                    <div class="block">
                        {% include media-block.html youtubeId=include.post.youtubeId img=include.post.img width=200 height=100 %}
                    </div>
                </div>
            {% endif %}

            <!-- POST INTRO CONTENT -->
            <div class="col-md-7 col-sm-12">
                <div class="block">
                    <div class="section-title">
                        <h2>{{ include.post.title }}</h2>
                    </div>
                    <h3>
                        {{ include.post.subtitle }}
                    </h3>
                </div>
                <p>
                    <!-- EXCEPRT TO SHOW ONLY A PART OF THE CONTENT -->
                    {{ include.post.excerpt }}
                </p>
                {% if include.post.link %}
                    <a href="{{ include.post.link.url }}">{{ include.post.link.label }}
                        <i class="fa fa-arrow-right"></i>
                    </a>
                {% elsif include.post.doc %}
                    <a href="{{ include.post.doc.file }}">{{ include.post.doc.label }}
                        <i class="fa fa-arrow-right"></i>
                    </a>
                {% endif %}
            </div>

            <!-- MEDIA ON THE RIGTH -->
            {% if include.mediaPosition == 1 or include.mediaPosition == 'right' %}
                <div class="col-md-5 col-sm-12">
                    <div class="block">
                        {% include media-block.html youtubeId=include.post.youtubeId img=include.post.img  width=300 height=500 %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</section>
